@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/font-awesome-sass/assets/stylesheets/font-awesome";

legend.col-form-legend {
    font-size: 1rem;
}
div#registration_birthday select, div#edit_birthday select{
    margin-right: 12px;
}