<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'site.name'|trans }}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="/build/app.css">
    {% endblock %}
    {% block scripts %}
        <script src="/build/app.js" type="text/javascript"></script>
    {% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.10.0/lodash.js"></script>

    <script type="text/lodash-template" id="ltpl-movie-thumb">
        <div class="nav-item menu-item movie-block" data-movie-id="<{movie_id}>">
            <img src="<{originalCover}>" alt="" class="img-responsive img-thumbnail">
            <div>
                <h1><{name}></h1>
                <% if(typeof rating_imdb_value != 'undefined' && rating_imdb_value != '0') { %>
                    <span class="pull-left">IMDB: <{rating_imdb_value}></span>
                <% } %>
                <span class="pull-right"><{hit}> <span class="glyphicon glyphicon-heart"></span></span>
                <div class="clearfix"></div>
            </div>
        </div>
    </script>

    <script type="text/lodash-template" id="ltpl-movie-single">
        <div class="main">
            <div class="title">
                <span class="glyphicon glyphicon-arrow-left nav-item return-to-list"></span>&nbsp;&nbsp;&nbsp;
                <h1><{name}></h1>
            </div>
            <img class="poster" src="<{covers[0].original}>"/>
            <div class="description">
                Год: <{year}><br/>
                Страна: <{countries.join(', ')}><br/>
                Режиссер: <{directors.join(', ')}><br/><br/>
                <{description}>
            </div>
            <div class="clearfix">&nbsp;</div>
        </div>
        <div class="navs">
            <div class="ratings">
                <% if(typeof rating_imdb_value != 'undefined' && rating_imdb_value != '0') { %>
                <span>IMDB: <{rating_imdb_value}></span>
                <% } %>
                <span><span class="glyphicon glyphicon-heart"></span> <{hit}></span>
            </div>
            <div class="menu">
                <div class="play-block nav-item" data-stream-link="<{stream}>">
                    <span class="glyphicon glyphicon-play"></span><br/>
                    Смотреть
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>
        </div>
    </script>

    <script>
        _.templateSettings.interpolate = /\<\{([\s\S]+?)\}\>/g
        _.templateSettings.evaluate = /\<%([\s\S]+?)%\>/g

        html = '';

//        for (var i = 0; i < movies.length; i++) {
//            movies[i].originalCover = DataProvider.remoteHost + movies[i].originalCover;
//            html = html + (_.template($('script#ltpl-movie-thumb').text()))(movies[i]);
//        }
//
//        $('.movies-stack').html(html);
//
//        movieInfoHtml = (_.template($("script#ltpl-movie-single").text()))(movie);
//                $('.movie-info').html(movieInfoHtml);
    </script>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap,
            myPlacemark;

        function init(){
            myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7
            });

            myPlacemark = new ymaps.Placemark([55.76, 37.64], {
                hintContent: 'Москва!',
                balloonContent: 'Столица России'
            });

            myMap.geoObjects.add(myPlacemark);
        }
        document.ready = function(){
            document.querySelector('#edit_city').onblur = function(evy) {
                for (var i = 0; i < evy.target.options.length; i++) {
                    ids.push(evy.target.options[i].value)
                }

                $.ajax({
                    type: "POST",
                    data: {'ids': ids},
                    url: "/getCoordinates",
                    success: function (data) {
                        console.log(data);
                        for (var n = 0; n < data.length; n++) {
                            elPlacemark = new ymaps.Placemark([data[n].latitude, data[n].longitude], {
                                hintContent: el.name,
                                balloonContent: '--\\||--'
                            });
                            myMap.geoObjects.add(elPlacemark);
                        }
                    }
                });
            }
        };


    </script>


</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'site.name'|trans }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        {% block nav %}
            <ul class="navbar-nav">

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link"
                                        href="{{ path('statistics') }}">Statistics</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('user_edit') }}">{{ app.user.email }}</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                                            href="{{ path('security_logout') }}">{{ 'user.logout'|trans }}</a></li>
                {% else %}
                    {#<li><a href="{{ path('user_register') }}">{{ 'user.sign-up'|trans }}</a></li>#}
                    <li class="nav-item"><a class="nav-link"
                                            href="{{ path('security_login') }}">{{ 'user.login'|trans }}</a></li>
                {% endif %}
            </ul>
        {% endblock %}
    </div>
</nav>

<div id="map" style="width: 640px; height: 420px">&mdash;</div>

<div class="main-content" style="margin-top: 56px;">
    {% block flashmessages %}
        {% if app.session.flashbag.peekAll|length > 0 %}
            {% for type, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ type ? type : '' }}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        {{ message|trans({}, domain|default('messages')) }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endblock %}
    <div style="min-height: 56px"></div>
    {% block content %}{% endblock %}


</div>
{% block javascripts %}
    <script src="/build/app.js" type="text/javascript"></script>
{% endblock %}
</body>

</html>
