{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h2>User registrations by city:</h2>
        <ul>
        {% for city in userRegistrations %}
            <li>{{ city.name }} - This month: {{ city.thisMonth}}. Total: {{ city.total }}</li>
        {% endfor %}
        </ul>
        <h2>User logins for last week:</h2>
        <ul>
        {% for dayVisits in visits %}
            <li>{{ dayVisits.c_date }} - {{ dayVisits.count }}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
