{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>{{ 'user.edit'|trans }}</h1>
                {{ form_start(form) }}

                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <p class="form-control-static">{{ app.user.email }}</p>
                </div>

                {{ form_row(form.password) }}
                {{ form_row(form.name) }}
                {{ form_row(form.surname) }}
                {{ form_row(form.country) }}
                {{ form_row(form.region) }}
                {{ form_row(form.city) }}
                {{ form_row(form.gender) }}
                {{ form_row(form.birthday) }}

                <button type="submit" class="btn btn-default btn-primary btn-block" formnovalidate>{{ 'button.save'|trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
